* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.headerwrap {
  height: 59px;
}

.header {
  width: 100%;
  height: 59px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
}

.header .logo,
.header .gnb {
  float: left;
}

.header .logo {
  width: 215px;
  height: 13px;
  margin: 16px 0;
}

.header .logo img {
  width: 100%;
  height: 100%;
}

.header .gnb {
  width: 90px;
  margin: 13px 0;
  float: right;
}

.header .gnb ul li {
  font-size: 20px;
  margin-left: 10px;
  float: left;
}

#hamBtn {
  display: none;
}

#hamBtn:checked ~ .MenuBox .Menu {
  right: 0;
}

#hamBtn ~ .MenuBox .Menu {
  right: -330px;
}

.Menu {
  width: 75%;
  height: 100vh;
  position: fixed;
  /* right: -1px; */
  top: 0px;
  background-color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 0 10px;
  transition: all 0.3s 0.1s;
  z-index: 999;
}

.Menu .closeBox {
  height: 22px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: absolute;
  left: -22px;
  top: -2px;
  cursor: pointer;
  z-index: 999;
}

.Menu .logoBox {
  margin-top: 20px;
}

.Menu .logo {
  width: 90%;
  height: 14px;
  margin-left: 12px;
}

.Menu .logo img {
  width: 100%;
  height: 100%;
}

.Menu .login {
  height: 37px;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 37px;
  font-weight: bold;
  margin-top: 25px;
}

.Menu .signup {
  height: 37px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
  line-height: 37px;
  font-weight: bold;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 10px;
}

#tab01,
#tab02,
#tab03 {
  display: none;
}

#tab01 ~ .sheet .sheet1 {
  display: block;
}

#tab01 ~ .sheet .sheet2 {
  display: none;
}

#tab01 ~ .sheet .sheet3 {
  display: none;
}

#tab02:checked ~ .sheet .sheet1 {
  display: none;
}

#tab02:checked ~ .sheet .sheet2 {
  display: block;
}

#tab02:checked ~ .sheet .sheet3 {
  display: none;
}

#tab03:checked ~ .sheet .sheet1 {
  display: none;
}

#tab03:checked ~ .sheet .sheet2 {
  display: none;
}

#tab03:checked ~ .sheet .sheet3 {
  display: block;
}

#tab01:checked ~ .label .lab01 {
  color: black;
  border-bottom: 2px solid black;
}

#tab02:checked ~ .label .lab02 {
  color: black;
  border-bottom: 2px solid black;
}

#tab03:checked ~ .label .lab03 {
  color: black;
  border-bottom: 2px solid black;
}

.label {
  overflow: hidden;
}

.label label {
  display: block;
  width: 33%;
  height: 36px;
  color: #ddd;
  font-size: 13px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  float: left;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  margin-top: 27px;
  cursor: pointer;
}

.sheet > div li {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px dotted #ddd;
  box-sizing: border-box;
}
.Signup {
  padding: 0 10px;
}

.Signup .title {
  height: 81px;
  line-height: 81px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.Signup .txt {
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}

.benefit {
  height: 416px;
  margin-bottom: 68px;
  margin-top: 30px;
}

.benefit > div {
  height: 89px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.benefit > div:last-child {
  margin-bottom: 0;
}

.benefit .img,
.benefit .txt {
  float: left;
}

.benefit .img {
  width: 25%;
  height: 89px;
}

.benefit .img_box {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.benefit .img_box img {
  width: 100%;
  height: 100%;
}

.benefit .txt {
  width: 75%;
  height: 89px;
  text-align: start;
  margin-top: 13px;
}

.benefit .txt .txt01 {
  font-size: 14px;
  font-weight: bold;
}

.benefit .txt .txt02 {
  font-size: 11px;
  color: #999;
}

.Signup_button {
  height: 86px;
  font-size: 15px;
  line-height: 86px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-bottom: 30px;
}

.Signup_sns {
  height: 95.71px;
  margin-bottom: 59px;
}

.Signup_sns .title {
  font-size: 18px;
  font-weight: bold;
}

.Signup_sns .sns {
  height: 51.71px;
}

.Signup_sns .sns > div {
  width: calc(16.666666% - 10px);
  height: 51.71px;
  float: left;
  margin-right: 12px;
}

.Signup_sns .sns > div img {
  width: 100%;
  height: 100%;
}

.Signup_sns .sns > div:last-child {
  margin-right: 0;
}

.link_wrap .footer_login,
.link_wrap .etc_link {
  font-size: 10px;
  float: left;
}

.link_wrap .etc_link {
  float: right;
}

.link_wrap .etc_link li {
  float: left;
}

.footer {
  padding: 0 10px;
  height: 180px;
  background-color: #ddd;
}

.footer .link_wrap {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.footer .etc_link li {
  margin-left: 10px;
}

.footer_info .footer_symbol {
  width: 170px;
  height: 10px;
  margin: 15px 0;
}

.footer_info .footer_symbol img {
  width: 100%;
  height: 100%;
}

.footer_info .inf {
  font-size: 11px;
  line-height: 20px;
}

.footer_info .footer_infobox p {
  width: 50%;
  height: 30px;
  font-size: 11px;
  float: left;
  margin-top: 20px;
}

.footer_info .footer_infobox span,
.footer_info .footer_infobox a {
  float: left;
}

.footer_info .footer_infobox span {
  margin-right: 5px;
}

.footer_info .footer_infobox a {
  width: 65px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.footer_info .footer_infobox .img {
  width: 77px;
  height: 11px;
}

.footer_info .footer_infobox .img img {
  width: 100%;
  height: 100%;
}

.copy {
  height: 50px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 11px;
  background-color: #ddd;
}
